body {
    background-image: url('/static/img/floral-watercolor.jpg')
}

#header img{
    width: 23em;
}

.navbar {
    background: #ace2e1;
    border-radius: 5px;
}

.card {
    width: 21em;
    box-shadow:0px 0px 3px 0px #b77a47;
}

.card-title {
    text-align: center;
}

.card-body {
    background-color: #fff6d5;
}

.list-group-item {
    background-color: #fff6d5; 
}

#foto-familiar {
    border-radius: 15px;
    box-shadow:0px 0px 3px 0px #b77a47;
}

.texto {
    background-color: #fff6d5;
    border-radius: 15px;
    box-shadow:0px 0px 3px 0px #b77a47;
}

#footer {
    background: #7ac4c3; 
    color: white; 
    text-align: center;
}