{% extends 'base.html'%}
{% load static%}
{% block 'content' %}
<div style="text-align: center;" class = 'container'>
    <h2>ACERCA DE NOSOTROS</h2>
    <div class="row py-3">
        <div class="col-sm-12 col-md-5 mb-2">
            <img id="foto-familiar" src={% static 'img/flanes-familia.jpg' %} alt="foto-familia" class="img-fluid">
        </div>
        <div class="col-sm-12 col-md-7 mb-2 texto">
            <p class="fs-5">
                OnlyFlans es una empresa enfocada en el mundo de la pastelería y los postres, en especial
            en la venta de flan(de ahí su nombre), nace en 2021 en Santiago de Chile como una empresa
            familiar que pretende entregar productos de calidad a su clientela, estando ubicada en
            Providencia, a pasos del metro Parque Bustamante.
            </p>
        </div>
    </div>
</div>
{% endblock  %}
