{% extends 'base.html'%}

{% block 'content' %}
<div class="container">
    <div class="success text-center mx-auto">
        <div>
            <h3>Gracias por contactarte con OnlyFlans,</h3>
            <h3 class="mb-5">te responderemos en breve</h3>
            <a href="{% url 'indice' %}" class="btn btn-primary">Volver al Inicio</a>
        </div>
    </div>
</div>
{% endblock  %}

{% block 'footer' %}
<div class = "container fixed-bottom" id="footer">
    <p>Desarrollado por Diego Larenas y Claudio Méndez &nbsp &nbsp &copy 2024</p>
</div>
{% endblock  %}